In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

import yfinance as yf

In [8]:
stock = 'AAPL'
start = '2016-01-01' 
end = '2018-01-01'
data = yf.download(stock, start, end)
data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-04,102.610001,105.370003,102.000000,105.349998,97.772148,67649400
2016-01-05,105.750000,105.849998,102.410004,102.709999,95.322052,55791000
2016-01-06,100.559998,102.370003,99.870003,100.699997,93.456642,68457400
2016-01-07,98.680000,100.129997,96.430000,96.449997,89.512329,81094400
2016-01-08,98.550003,99.110001,96.760002,96.959999,89.985634,70798000

In [9]:
df = data.reset_index()
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-01-04,102.610001,105.370003,102.000000,105.349998,97.772148,67649400
1,2016-01-05,105.750000,105.849998,102.410004,102.709999,95.322052,55791000
2,2016-01-06,100.559998,102.370003,99.870003,100.699997,93.456642,68457400
3,2016-01-07,98.680000,100.129997,96.430000,96.449997,89.512329,81094400
4,2016-01-08,98.550003,99.110001,96.760002,96.959999,89.985634,70798000

In [10]:
X = df.drop(['Date','Close'], axis=1, inplace=True)
y = df[['Adj Close']]

In [13]:
from sklearn.model_selection import train_test_split

# Split X and y into X_
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.25,  random_state=0)

In [14]:
from sklearn.linear_model import LinearRegression

regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

LinearRegression()

In [15]:
intercept = regression_model.intercept_[0]

print("The intercept for our model is {}".format(intercept))

The intercept for our model is -1.1605720828811172e-09